{% extends "layout.html" %}

{% block title %}
    Main Page
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
    <tbody>
{% for share in shares %}
        <tr>
            <td class="text-start">{{ share["t_symbol"] }}</td>
            <td class="text-start">{{ share["t_name"] }}</td>
            <td class="text-end">{{ share["t_shares"] }}</td>
            <td class="text-end">{{ share["t_price"] }}</td>
            <td class="text-end">{{ share["t_total"] }}</td>
        </tr>
{% endfor %}     
    </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{ cash }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
